<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="example suite 1">
<listeners>
<listener class-name="com.test.UIAutomtion.CustomListener.Listener"></listener>
<listener class-name="com.test.UIAutomtion.CustomListener.RetryListner"></listener>
</listeners>

<test name="TC_003_VerifyListeners" >
<classes>
<class name="com.test.UIAutomation.HomePage.TC_001Sigin"/>
<class name="com.test.UIAutomation.HomePage.TC_002"/>
<class name="com.test.UIAutomation.HomePage.TC_003_VerifyListeners"/>


</classes>
</test>
</suite>